/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


/*@IMPORT <link href="https://fonts.googleapis.com/css?family=Poor+Story" rel="stylesheet"> */

{
    box-sizing: border-box;
}

body {
   
    background: #bdffbd;
}

.wrapper {
    width: 100%;
    padding: 0 2rem;
    text-align: center;
}

.polaroid {
    background: #fff;
    padding: 1rem;
    box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
}

    .polaroid > img {
        max-width: 100%;
        height: auto;
    }

.caption {
    font-size: 1.8rem;
    text-align: center;
    line-height: 2em;
}

.item {
    font-family: 'Poor Story', cursive;
    width: 30%;
    display: inline-block;
    margin-top: 2rem;
    filter: grayscale(100%);
}

    .item .polaroid:before {
        content: '';
        position: absolute;
        z-index: -1;
        transition: all 0.35s;
    }

    .item:nth-of-type(4n+1) {
        transform: scale(0.8, 0.8) rotate(5deg);
        transition: all 0.35s;
    }

        .item:nth-of-type(4n+1) .polaroid:before {
            transform: rotate(6deg);
            height: 20%;
            width: 47%;
            bottom: 30px;
            right: 12px;
            box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
        }

    .item:nth-of-type(4n+2) {
        transform: scale(0.8, 0.8) rotate(-5deg);
        transition: all 0.35s;
    }

        .item:nth-of-type(4n+2) .polaroid:before {
            transform: rotate(-6deg);
            height: 20%;
            width: 47%;
            bottom: 30px;
            left: 12px;
            box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
        }

    .item:nth-of-type(4n+4) {
        transform: scale(0.8, 0.8) rotate(3deg);
        transition: all 0.35s;
    }

        .item:nth-of-type(4n+4) .polaroid:before {
            transform: rotate(4deg);
            height: 20%;
            width: 47%;
            bottom: 30px;
            right: 12px;
            box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
        }

    .item:nth-of-type(4n+3) {
        transform: scale(0.8, 0.8) rotate(-3deg);
        transition: all 0.35s;
    }

        .item:nth-of-type(4n+3) .polaroid:before {
            transform: rotate(-4deg);
            height: 20%;
            width: 47%;
            bottom: 30px;
            left: 12px;
            box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
        }

    .item:hover {
        filter: none;
        transform: scale(1, 1) rotate(0deg) !important;
        transition: all 0.35s;
    }

        .item:hover .polaroid:before {
            content: '';
            position: absolute;
            z-index: -1;
            transform: rotate(0deg);
            height: 90%;
            width: 90%;
            bottom: 0%;
            right: 5%;
            box-shadow: 0 1rem 3rem rgba(0,0,0,0.2);
            transition: all 0.35s;
        }


body {
    background-image: url(../images/home/bg.jpg);
}

.vh-85 {
    height: 85vh;
}

.br-0 {
    border-radius: 0 !important;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
