@model PictureShare.Models.PictureViewModel

@{
    ViewData["Title"] = "Create";
}



<div class="d-flex flex-column justify-content-center align-items-center vh-85">
    <div class="card w-50 position-fixed br-0 shadow p-3">
        <div class="row">
            <div class="col-md p-3">
                <form asp-action="Create" enctype="multipart/form-data" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <h2 class="text-center">Upload a new pic!</h2>
                    <div class="mb-3">
                        <label asp-for="Picture.Caption" class="form-label"></label>
                        <input asp-for="Picture.Caption" class="form-control" />
                        <span asp-validation-for="Picture.Caption" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        @Html.DropDownListFor(m => m.Picture.CategoryId, Model.CategoryList, "Select a Category", new {@class = "form-select"})
                        <span asp-validation-for="Picture.CategoryId" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <input type="file" asp-for="Picture.Image" class="form-control" id="fileUpload" accept="image/*">
                    </div>

                    <input type="submit" value="Create" class="btn btn-dark w-100" />

                </form>
            </div>
        </div>

    </div>
</div>



